* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body{
  display: none;
  background-color: black;
}
.up-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
  background-image: url("../resources/images/up.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.up-left-bar {
  width: 15%;
  height: 100%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 150px;
}
.up-left-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.up-menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.up-menu-container > ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.up-menu-container > ul > li {
  font-size: 15px;
  margin-bottom: 25px;
  padding-left: 40px;
  width: 100%;
  cursor: pointer;
}
.up-menu-icon {
  margin-right: 10px;
}
.up-name-logout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-inline: 20px;
}
.up-profile-name {
  font-size: 15px;
}
.up-logout-icon {
  cursor: pointer;
  font-size: 20px;
}
.up-display {
  padding-top: 120px;
  width: 100%;
  padding-left: 40px;
  height: 100%;
  overflow-y: scroll;
  background-color: #0000005b;
  backdrop-filter: blur(15px);
}
.up-recent-access {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  transition-duration: 1s;
}
summary {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  padding-block: 10px;
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.up-recent-access-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 30px;
  padding-block: 30px;
  flex-wrap: wrap;
}
.up-history-card {
  background-color: rgb(215, 192, 124);
  border: 1px solid rgb(208, 208, 208);
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 10px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 10px;
}
.up-history-text {
  font-size: 13px;
  color: rgb(8, 0, 255);
}
.up-history-title {
  font-weight: bold;
  color: black;
}

@media (max-width: 576px) {
  .up-left-bar {
    display: none;
  }
  .up-display {
    padding-left: 0;
  }
  .up-recent-access {
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .search-card {
    margin-left: auto;
  }
  .up-history-card {
    margin-right: auto;
  }
}
